<h2>Your Dog is gonna LOVE it here!</h2>
<hr>
<h3>Make a Reservation Below</h3>

<form ng-submit="makeReservation(dog)">
  <input type="text" ng-model="dog.name" placeholder="dog's name"/>
  <input type="text" ng-model="dog.age" placeholder="dog's approx age"/>
  <input type="text" ng-model="dog.breed" placeholder="dog's breed"/>
  <input type="text" ng-model="dog.personality" placeholder="dog's personality traits"/>
  <input type="date:'shortdate'" ng-model="dog.startdate" placeholder="check in date"/>
  <input type="date:'shortdate'" ng-model="dog.enddate" placeholder="check out date"/>

  <button>Make Reservation</button>




</form>
